:root {
    --dark-blue: #3669E9;
    --text: #031B4E;
    --border: #1E1E1E10;
    --header-toggle-disabled: rgba(255, 255, 255, 0.2);
    --light-blue: #3669e91a;
    --background: #fff;
    --slider-background: #CED2DB;
    --slider-ball: #fff;
    --header-slider-background-checked: #AFC3F6;
    --partition: #FFFFFF;
    --text-description: #7C7C7C;
    --box: rgba(54, 105, 233, 0.1);
    --control-arrow: #000;
    --avatar: #E7E7E9;
    --avatar-after: #fff;
    --invert: 0;
    --mainmenucontrolbox: #EBF0F8;
}

html[data-theme="dark"] {
    --background: #070F21;
    --text: #FFFFFF;
    --slider-background: rgba(255, 255, 255, 0.2);
    --box: rgba(255, 255, 255, 0.1);
    --control-arrow: #FFFFFF;
    --avatar: #1F2737;
    --avatar-after: #070F21;
    --invert: 1;
    --mainmenucontrolbox: #393f4D;
}

@font-face {
    font-family: 'Averta';
    src: url('./font/AvertaCY-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averta";
    color: var(--text);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.seo_wallet_extension_container {
    position: fixed;
    right: 0;
    top: 0;
    width: 411px;
    background-color: var(--background);
    height: 100vh;
    z-index: 9999999999999999999999;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    animation: collapseRev 0.3s linear forwards;
    -webkit-animation: collapseRev 0.3s linear forwards;
}

header {
    background-color: var(--dark-blue);
    height: 64px;
    padding: 17.5px 24px 17.5px 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .small {
    display: none;
}

.collapse .logobig {
    display: none;
}

.collapse .logo .small {
    display: block;
    opacity: 1;
}

.collapse header .icons {
    display: none;
}

main {
    height: 100vh;
}

header .icons {
    display: flex;
    align-items: center;
    gap: 14px;
}

/** Toggle switch **/
.switch {
    display: inline-block;
    width: 36px;
    height: 20px;
    position: relative;
}

.switch input {
    display: none;
}

.slider {
    background-color: var(--slider-background);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--slider-ball);
    bottom: 3px;
    content: "";
    height: 14px;
    left: 5px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked+.slider {
    background-color: var(--dark-blue);
}

input:checked+.slider:before {
    left: 4px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

header .icons .switch {
    display: inline-block;
    width: 29px;
    height: 16px;
    position: relative;
}

header .icons .switch .slider {
    background-color: var(--slider-background);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.collapse {
    display: flex;
    align-items: center;
}

header .icons .switch .slider:before {
    background-color: var(--slider-ball);
    bottom: 2.4px;
    content: "";
    height: 11.2px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 11.2px;
}

input:checked+.slider {
    background-color: var(--dark-blue);
}

input:checked+.slider:before {
    left: 4px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/** Toggle switch: Header Color Conditions **/
header .icons .switch input:checked+.slider {
    background-color: var(--header-slider-background-checked);
}

header .icons .switch input:checked+.slider:before {
    background-color: var(--dark-blue);
}

header .icons .switch .slider {
    background-color: var(--header-toggle-disabled);
}

/** Close Icon in the header **/
.darkmode {
    cursor: pointer;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
}

.partition {
    width: 1px;
    height: 24px;
    background-color: var(--partition);
    opacity: 0.1;
}

main {
    display: flex;
}

.menu {
    width: 100%;
    border-right: 1px solid var(--border);
    overflow: auto;
    position: relative;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* .collapse main .menu {
    width: 0;
} */


.collapse .menu {
    animation: mainmenuwidth 0s linear 0.3s forwards;
    -webkit-animation: mainmenuwidth 0s linear 0.3s forwards;
}

.collapse .sidemenu {
    animation: sidemenudisplay 0s linear 0.3s forwards;
    -webkit-animation: sidemenudisplay 0s linear 0.3s forwards;
}

.pointer {
    cursor: pointer;
}

.collapse header {
    display: none;
    padding: 17.5px 24px 17.5px 24px;
    animation: headerCollapse 0.3s linear forwards;
    -webkit-animation: headerCollapse 0.3s linear forwards;
}

.collapse .box {
    animation: boxShow 0.3s linear forwards;
}

@keyframes collapse {
    0% {
        right: 0;
    }

    100% {
        right: -411px;
    }
}

@keyframes collapseRev {
    0% {
        transform: translateX(411px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes mainmenuwidth {
    0% {
        width: 411px;
    }

    100% {
        width: 0;
    }
}

@keyframes sidemenucontainerdisplay {
    0% {
        right: -411px;
    }

    100% {
        right: -323px;
    }
}

@keyframes sidemenucontainerdisplayRev {
    0% {
        right: -323px;
    }

    100% {
        right: -411px;
    }
}

@keyframes sidemenudisplay {
    0% {
        right: 0px;
    }

    100% {
        right: 322px;
    }
}

@keyframes headerCollapse {
    0% {
        z-index: 100;
    }

    100% {
        z-index: -1;
    }
}

.hidemenu.seo_wallet_extension_container {
    animation: hideCollapsedMenu 0.3s linear forwards;
}

.showmenu.seo_wallet_extension_container {
    animation: hideCollapsedMenuRev 0.3s linear forwards;
}


.hidemenu .sidemenu .mainmenucontrols .box {
    background-color: var(--mainmenucontrolbox);
    display: flex;
    position: fixed;
    right: -17px;
    bottom: 20px;
    animation: boxHide 0.3s linear forwards;
}

.seo_wallet_extension_container.hidemenu .sidemenu .mainmenucontrols .box svg {
    margin-left: 8px;
}

.seo_wallet_extension_container.showmenu .sidemenu .mainmenucontrols .box {
    animation: boxShow 0.3s linear forwards;
}

.controls .add img {
    filter: invert(var(--invert));
}

.logo p {
    color: #fff;
    font-size: 18px;
}

.logo p {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

@keyframes boxHide {
    0% {
        right: 0;
        transform: rotate(0deg);
    }

    100% {
        right: -15px;
        transform: rotate(180deg);
    }
}

@keyframes boxShow {
    0% {
        right: -15px;
    }

    100% {
        right: 0;
    }
}

@keyframes hideCollapsedMenu {
    0% {
        right: -323px;
    }

    100% {
        right: -411px;
    }
}

@keyframes hideCollapsedMenuRev {
    0% {
        right: -411px;
    }

    100% {
        right: -323px;
    }
}

.controls {
    margin-top: 20px;
}

.sidemenu {
    padding: 20px;
    width: 88px;
    height: 100vh;
    right: -88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.favorites {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}


/** Extension Tabs **/
.extension_wrapper {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tabs {
    top: 0;
    width: 411px;
    min-width: 411px;
    overflow: auto;
}

.tab {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 24px;
    cursor: pointer;
    white-space: nowrap;
}

.tab:nth-child(1) {
    padding-top: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--avatar);
}

.closeMenu {
    transform: translateX(500px);
}

.avatar img {
    filter: invert(var(--invert));
    transition: all 0.1s ease-in-out;
}

.tab .text .title {
    font-size: 15px;
    font-weight: 600;
}

.tab .text .description {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-description);
}

.tab .icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.menufooter {
    width: 100%;
    height: 65px;
    min-height: 65px;
    background-color: var(--light-blue);
    padding: 26.5px 24px;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 9999;
}

.expand {
    min-height: 216px;
    transition: all 0.5s ease;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}

.menufooter .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    white-space: nowrap;
}

.title svg {
    transition: all 0.5s ease;
}

.expand .title svg {
    transform: rotate(180deg);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.contentcontainer {
    display: flex;
    height: calc(100vh - 200px);
    left: 0;
    position: absolute;
}

.menufooter .title .heading {
    font-size: 16px;
    font-weight: 600;
}

.menufooter .subtitle {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.menufooter .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;
}

.create_ticket {
    display: flex;
    margin: 13px 0;
    gap: 7px;
    cursor: pointer;
    width: 100%;
}

.create_ticket p {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-blue);
    margin-left: auto;
}

.unchecked_star {
    fill: transparent;
    stroke: #828282;
    stroke-width: 1.5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.checked_star {
    fill: #FFC107;
    stroke: #FFC107;
    stroke-width: 1.5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.sidemenu .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;

}

.sidemenu .avatar .img {
    width: 100%;
    height: 100%;
}

.sidemenu .favorites .avatar::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 2px solid var(--avatar-after);
}

.sidemenu .avatar.online::after {
    background-color: #5FC454;
}

.sidemenu .avatar.offline::after {
    background-color: #B3B7BE;
}



.controls .partition {
    width: 100%;
    height: 1px;
    opacity: 0.1;
}

.controls .add {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--box);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mainmenucontrols {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainmenucontrols .box {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--mainmenucontrolbox);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.visitsite {
    width: 100%;
    height: fit-content;
    margin-top: auto;
    padding: 26.5px 24px;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-blue);
    cursor: pointer;
}

.silentmode {
    width: 411px;
    height: fit-content;
    padding: 26.5px 24px;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-blue);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.silentmode .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
    opacity: 0.6;
}

footer {
    height: auto;
    min-height: 120px;
    max-height: 289px;
    margin-top: auto;
}